
<div class="container-fluid">
  <section class="row">
    <div class=" col-xs-12 col-sm-6 col-md-6">

      <h1 class="display-6">Bienvenido a DonsGram</h1>
      <h2> La red social que une donantes </h2>
      <%= link_to "INICIA SESION", new_session_path(resource_name) %><br />

    </div>
    <div class="bnvPanel rgtPanel col-xs-12 col-sm-6 col-md-6">
      <div class=""><h3>Registrate</h3> </div>
      <div class="row">
        <div class="text-white col-xs-12 col-sm-6 col-md-6 " style="max-width: 20rem;">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :"Correo electronico: " %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :"Usuario: " %><br />
            <%= f.text_field :username, autofocus: true%>
          <div class="field">
            <%= f.label :"Nombre: " %><br />
          </div>
            <%= f.text_field :name, autofocus: true%>
          </div>
          <div class="field">
            <%= f.label :"Apellido: " %><br />
            <%= f.text_field :last_name, autofocus: true%>
          </div>
          <div class="field">
            <%= f.label :"Edad: " %><br />
            <%= f.text_field :age, autofocus: true%>
          </div>
        </div>
        <div class="2doPan text-white col-xs-12 col-sm-6 col-md-6 mb-3" style="max-width: 20rem;">
          <div class="field">
            <%= f.label :"Estado: " %><br />
            <%= f.text_field :state, autofocus: true%>
          </div>
          <div class="field">
            <%= f.label :"Pais: " %><br />
            <%= f.text_field :country, autofocus: true%>
          </div>
          <div class="field">
            <%= f.label :"Tipo de sangre: " %><br />
            <%= f.text_field :blood_type, autofocus: true%>
          </div>
          <div class="field">
            <%= f.label :"Contraseña: " %>
            <% if @minimum_password_length %>
            <%= @minimum_password_length %> Carácteres mínimos
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.label :"Reescribre la contraseña: " %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>

        <%= f.submit "¡Registrate!" %>
        <% end %>

      </div>
    </div>
  </div>
