<!DOCTYPE html>
<html>
  <head>
    <title>Donsgram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no,
    initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head>
  <body>
    
    <%= render "partials/nav"%>
    <%= yield %>
    <%= render "partials/footer"%>

  </body>
</html>
